<div class="container">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :cpf,
                  label:'CPF',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "cpf" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :first_name,
                  label:'Primeiro Nome',
                  required: true,
                  input_html: { autocomplete: "first-name" }%>
      <%= f.input :last_name,
                  label:'Sobrenome',
                  required: true,
                  input_html: { autocomplete: "last-name" }%>
      <%= f.input :email,
                  label:'e-mail',
                  required: false,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :birth_date,
                  label:'Data de Nascimento',
                  required: true,
                  input_html: { autocomplete: "birth-date" }%>
      <%= f.input :address,
                  label:'Endereço',
                  required: false,
                  input_html: { autocomplete: "address" }%>
      <%= f.input :role,
                  label:'Você ira usar o app como:',
                  collection: ['Cidadão', 'Profissional da Saúde'],
                  required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Registrar", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
