<div class="container-sm">
  <h1 class='text-center my-4' ><%= "BUSCA POR TERRÁQUEOS" %></h1>

  <div class="search_vaccine">
    <%= form_tag health_users_path, method: :get do %>
    <div class="d-flex" style="width: 80%; margin:0 auto;">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        style: "width: 80%",
        placeholder: "Digite o CPF do cidadão Brasileiro ou Estrangeiro: "
      %>
      <%= submit_tag "Pesquisar", class: "btn btn-primary m-auto" %>
    </div>
    <% end %>
  </div>

    <h3> SE CPF FOR VAZIO RETORNA ALERTA</h3>
    <h3> SENÃO RETORNA O CIDADÃO </h3>
    <h4> Implementar link de Acesso para show </h4>

    <% if @users == "vazio" %>
      <h2><strong> <%= "Digite um CPF Válido" %> </strong></h2>
    <% else %>
      <% @users.each do |user| %>
        <div class="wrapper">
          <div class="vaccine-card">
            <div class="card-info">
              <div class="card-title">
                Nome: <%= user.first_name %> <%= user.last_name %>
              </div>
              <div class="card-description">
                <p> CPF: <%= user.cpf %> </p>
                <p> Endereço: <%= user.address %> </p>
                <p> Email: <%= user.email %> </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
