<div class="br-header" style="width: 100%; margin-bottom: 45px;">
    <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex">
            <div class="logo">
                <%= image_tag "sus_logo.png", alt: "sus" %>
                <%# <div class="sign width 100%">VacinasApp</div> %>
            </div>
            <div class="menu ml-2 my-4" style="width:100%">
                <div class="title mt-1" style="font-size: 20px">Carteira de Vacinação Digital</div>
                <div class="subtitle mb-2 text-left ml-0">Sempre em dia com a sua saúde</div>
            </div>
        </div>
        <div>
            <div class="actions mt-4" style="max-width:100%">
                <div class="links">
                    <button class="br-button" type="button" circle mini>
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <% if current_user && current_user.role == "Cidadão" %>
                      <ul>
                          <!-- <li class="title">Acesso Rápido</li> -->
                          <li> <%= link_to "Sua Carteira", user_vaccines_path, id:"toggle-btn"%> </li>
                          <li> <%= link_to "Calendário de Vacinação", user_suggested_vaccines_path, id:"toggle-btn2"%></li>
                          <li><a href="https://antigo.saude.gov.br/saude-de-a-z/vacinacao/campanhas" target=_blank>Campanhas Vigentes</a></li>
                      </ul>
                    <% end %>
                </div>

                <div class="search-btn">
                    <button class="br-button" type="button" circle mini>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <% if current_user.nil? %>
                <div class="login">
                    <%= link_to new_user_session_path do %>
                    <button class="br-button" type="button" mini>
                        <i class="fas fa-user"></i><span class="ml-1">Entrar</span>
                    </button>
                    <% end %>
                </div>
                <% else %>
                <div class="login">
                    <%= link_to destroy_user_session_path, method: :delete do %>
                    <button class="br-button" type="button" mini>
                        <i class="fas fa-user"></i><span class="ml-1">Sair</span>
                    </button>
                    <% end %>
                </div>
                <% end %>
                <% if !current_user.nil? %>
                <div class="avatar">
                    <div class="br-badge" danger>
                        <div class="icon">5</div>
                        <div class="content">
                              <div class="br-avatar">
                                  <div class="image">
                                      <!-- <img src="https://picsum.photos/id/823/400" alt="Avatar" /> -->
                                      <!--  -->
                                      <% if current_user.first_name == "Mia" %>
                                       <%= image_tag "a7110fab-3e67-4839-a70f-5f2c96cbc84f.jpg",
                                        class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                                      <% elsif current_user.first_name == "Lourdes" %>
                                        <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1599440056/rpoze0ufujtrnzysyxpe.jpg",
                                        class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                                      <% else %>
                                        <%= image_tag "https://avatars2.githubusercontent.com/u/66792796?v=4",
                                        class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                                      <% end %>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                                        </div>
                                  </div>
                              </div>
                        </div>
                    </div>
                </div>
                <% end %>

            </div>
<!--             <div class="search" style="margin-left:auto">
                <div class="br-input has-icon">
                    <label></label>
                    <input class="has-icon" type="text" placeholder="Quer saber sobre alguma vacina?" />
                    <button class="icon" type="button">
                        <span class="icon"><i class="fas fa-search"></i></span>
                    </button>
                </div>
                <button class="br-button search-close" type="button" circle mini>
                    <i class="fas fa-times"></i>
                </button>
            </div> -->
        </div>
    </div>
</div>


