<div class="container-fluid">
  <h1 class='text-center my-4' ><%= "Sua Carteira de Vacinação" %></h1>

  <div class="search_vaccine mb-5">
    <%= form_tag user_vaccines_path, method: :get do %>
    <div class="d-flex" style="width: 80%; margin:0 auto;">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        style: "width: 80%",
        placeholder: "Procure por uma vacina em sua carteira"
      %>
      <%= submit_tag "Pesquisar", class: "br-button ml-2", primary:"" %>
    </div>
    <% end %>
  </div>
  <% if @vaccines %>
    <% @vaccines.each do |vaccine| %>
      <%= render partial: "shared/modal_new_dose", locals: {vaccine: vaccine}%>
      <div class="wrapper">
        <div class="vaccine-card">
          <div class="card-info">
            <div class="card-title">
              <%= vaccine.vaccine_type.name %>
            </div>
            <div class="card-description">
              Doses Tomadas: <%= vaccine.dose_count %> | Última dose: <%= vaccine.last_dose_date %>
            </div>
          </div>
          <div class="card-actions">
              <%= link_to user_vaccine_path(vaccine), class: 'br-button' do %>
                <i class="fas fa-edit"></i>
                Detalhes
              <% end %>
              <%= link_to user_vaccine_path(vaccine), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'br-button' do %>
                <i class="fas fa-eraser"></i>
                Delete
              <% end %>
          </div>
        </div>
        <% vaccine.doses.order(:date).each_with_index do |dose, index| %>
          <div class="dose-card">
            <div class="card-title text-center">
              <p>Dose <%= index + 1 %><% if dose.user %> <i class="fas fa-check-circle" style="color: #45f266; display:inline-block;"></i> <% end %></p>
            </div>
            <div class="card-description text-center">
              <%= dose.date.strftime("%d/%m/%Y") %>
            </div>
          </div>
        <% end %>
        <button type="button" style="border: none; background-color: transparent;" data-toggle="modal" data-target="#modal-window<%= vaccine.id %>">
          <div id="nova-dose" class="dose-card"
          style="border-style: dashed; border-color: rgba(0,0,0,0.3)">
            <div class="text-center">

                <i class="far fa-plus-square" style="width:100%; text-align: center; font-size: 40px; color: rgba(0,0,0,0.4);"></i>

              Nova Dose
            </div>
          </div>
        </button>
      </div>
    <% end %>
  <% else %>
    <p>Sem vacinas por enquanto</p>
  <% end %>
  <div class="text-right">
    <!-- Ideia de colocar esse botão como fixado na tela -->
    <%= link_to "Nova Vacina", new_user_vaccine_path, class: 'br-button my-4', action:'' %>
  </div>

</div>
