<div style="width: 700px;margin:0 auto;">
  <h1 class="title-form">Nova Vacina</h1>
  <%= simple_form_for(@vaccine, as: :vaccine, method: :post, url: user_vaccines_path) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.association :vaccine_type, label: 'Vacina', collection: VaccineType.all%>
      <%= f.simple_fields_for @dose do |dose_form| %>
        <%= dose_form.input :date,
                            as: :date,
                            label: "Data da 1ª Dose",
                            input_html: {class: "br-datepicker", style: "margin: 0 !important;"},
                            order: [:day, :month, :year]
                             %>
      <% end %>
    </div>

    <!-- Colocar um field para cadastrar a data da primeira dose -->
    <div class="form-actions">
    <span class='d-flex' style="justify-content: space-between;">
      <%= f.submit 'Registrar Vacina', class: 'br-button mr-0', primary:"" %>
      <%= link_to 'Voltar', user_vaccines_path, class: 'br-button mr-0', secondary:"" %>
    </span>
    </div>
  <% end %>
</div>
